In [2]:
import pandas as pd
import numpy as np

# ==============
# LA TAREA üéØ
# ==============
# Tienes una tabla de ventas de boletos de una aerol√≠nea que parece estar muy sucia.
# Tu tarea es usar las t√©cnicas de la gu√≠a para limpiar, preparar y analizar estos datos.
# Resuelve cada problema uno por uno. ¬°Mucha suerte!

# =================
# EL DATASET SUCIO
# =================
# No modifiques este c√≥digo. √ösalo para generar el DataFrame con el que trabajar√°s.

np.random.seed(42)

datos = {
    'ID_Boleto': [
        'ABC-101', 'DEF-202', 'GHI-303', 'JKL-404', 'ABC-101', 'MNO-505', 'PQR-606', 'STU-707', 'MNO-505', 'VWX-808',
        'YZA-909', 'BCD-110', 'EFG-211', 'HIJ-312', 'KLM-413', 'NOP-514', 'QRS-615', 'TUV-716', 'WXY-817', 'ZAB-918',
        'CDE-119', 'FGH-220', 'IJK-321', 'LMN-422', 'OPQ-523', 'RST-624', 'UVW-725', 'XYZ-826', 'YZA-909', 'ABC-101',
        'BCD-110', 'EFG-211', 'HIJ-312', 'KLM-413', 'NOP-514', 'QRS-615', 'TUV-716', 'WXY-817', 'ZAB-918', 'CDE-119',
        'FGH-220', 'IJK-321', 'LMN-422', 'OPQ-523', 'RST-624', 'UVW-725', 'XYZ-826', 'YZA-909', 'ABC-101', 'BCD-110'
    ],
    'Fecha_Venta': [
        '2024-01-15', '2024-01-15', '2024-01-16', '2024-02-20', np.nan, '2024-03-01', '2024-03-05', '2024-03-10', '2024-03-01', '2024-04-01',
        '2024-04-10', '2024-04-25', '2024-05-01', '2024-05-12', '2024-05-20', '2024-06-05', '2024-06-10', '2024-06-18', '2024-07-01', '2024-07-05',
        '2024-07-10', '2024-07-15', '2024-07-20', '2024-08-01', '2024-08-05', '2024-08-10', '2024-08-15', '2024-08-20', '2024-04-10', '2024-01-15',
        '2024-04-25', '2024-05-01', '2024-05-12', '2024-05-20', '2024-06-05', '2024-06-10', '2024-06-18', '2024-07-01', '2024-07-05', '2024-07-10',
        '2024-07-15', '2024-07-20', '2024-08-01', '2024-08-05', '2024-08-10', '2024-08-15', '2024-08-20', '2024-04-10', np.nan, '2024-04-25'
    ],
    'Origen': [
        'MADRID', 'barcelona ', '  Ciudad de M√©xico', 'LIMA', 'MADRID', 'bogota', 'LIMA', 'Buenos Aires', 'bogota', 'Sao Paulo',
        'SANTIAGO', 'Madrid', 'Barcelona', 'CDMX', 'Lima', 'Bogot√°', 'Buenos Aires', 'SAO PAULO', 'Santiago', 'Madrid',
        'Barcelona', 'CDMX', 'Lima', 'Bogot√°', 'Buenos Aires', 'Sao Paulo', 'Santiago', 'Madrid', 'SANTIAGO', 'MADRID',
        'Madrid', 'Barcelona', 'CDMX', 'Lima', 'Bogot√°', 'Buenos Aires', 'SAO PAULO', 'Santiago', 'Madrid', 'Barcelona',
        'CDMX', 'Lima', 'Bogot√°', 'Buenos Aires', 'Sao Paulo', 'Santiago', 'Madrid', 'SANTIAGO', 'MADRID', 'Madrid'
    ],
    'Destino': [
        'LIMA', 'MADRID', 'Bogot√°', 'sao paulo', 'LIMA', 'MEXICO', 'BOGOTA', 'SANTIAGO', 'MEXICO', 'BUENOS AIRES',
        'BUENOS AIRES', 'LIMA', 'MADRID', 'Bogot√°', 'Sao Paulo', 'Mexico', 'Bogot√°', 'Santiago', 'Buenos Aires', 'Lima',
        'Madrid', 'Bogota', 'Sao Paulo', 'Mexico', 'Bogota', 'Santiago', 'Buenos Aires', 'Lima', 'BUENOS AIRES', 'LIMA',
        'LIMA', 'MADRID', 'Bogot√°', 'Sao Paulo', 'Mexico', 'Bogot√°', 'Santiago', 'Buenos Aires', 'Lima', 'Madrid',
        'Bogota', 'Sao Paulo', 'Mexico', 'Bogota', 'Santiago', 'Buenos Aires', 'Lima', 'BUENOS AIRES', 'LIMA', 'LIMA'
    ],
    'Clase': [
        'Economica', 'Premium', 'ECONOMICA', 'Business', 'Economica', 'Business', 'Premium', 'economica', 'Business', 'Premium',
        'ECONOMICA', 'Economica', 'Premium', 'Business', 'Economica', 'Business', 'Premium', 'Economica', 'Premium', 'Economica',
        'Premium', 'Business', 'Economica', 'Business', 'Premium', 'Economica', 'Premium', 'Economica', 'ECONOMICA', 'Economica',
        'Premium', 'Business', 'Economica', 'Business', 'Premium', 'Economica', 'Premium', 'Economica', 'Premium', 'Economica',
        'Premium', 'Business', 'Economica', 'Business', 'Premium', 'Economica', 'Premium', 'Economica', 'ECONOMICA', 'Economica'
    ],
    'Precio_Dolar': [
        250.0, 480.5, 300, '520', 250.0, 500, 450, 270, 500, 480,
        310, 260, 490, 510, 280, 530, 470, 290, 460, 305,
        495, 505, 275, 525, 485, 295, 475, 285, 310, 250.0,
        490, 510, 280, 530, 470, 290, 460, 305, 495, 505,
        275, 525, 485, 295, 475, 285, 99999.0, 310, 'NaN', 260
    ],
    'Pasajero_ID': [
        'A-1234', 'B-5678', 'C-9012', np.nan, 'A-1234', 'D-3456', 'E-7890', 'F-1234', 'D-3456', 'G-5678',
        'H-9012', 'I-3456', 'J-7890', 'K-1234', 'L-5678', 'M-9012', 'N-3456', 'O-7890', 'P-1234', 'Q-5678',
        'R-9012', 'S-3456', 'T-7890', 'U-1234', 'V-5678', 'W-9012', 'X-3456', 'Y-7890', 'H-9012', 'A-1234',
        'I-3456', 'J-7890', 'K-1234', 'L-5678', 'M-9012', 'N-3456', 'O-7890', 'P-1234', 'Q-5678', 'R-9012',
        'S-3456', 'T-7890', 'U-1234', 'V-5678', 'W-9012', 'X-3456', 'Y-7890', 'H-9012', np.nan, 'I-3456'
    ],
    'Metodo_Pago': [
        'Tarjeta', 'Paypal', 'tarjeta', 'Efectivo', 'Tarjeta', 'Paypal', 'Tarjeta', 'Efectivo', 'Paypal', 'Tarjeta',
        'Efectivo', 'tarjeta', 'Paypal', 'Efectivo', 'Tarjeta', 'Paypal', 'Tarjeta', 'Efectivo', 'Tarjeta', 'Paypal',
        'Efectivo', 'Tarjeta', 'Paypal', 'Efectivo', 'Tarjeta', 'Paypal', 'tarjeta', 'Efectivo', 'Efectivo', 'Tarjeta',
        'Tarjeta', 'Paypal', 'Efectivo', 'Tarjeta', 'Paypal', 'Tarjeta', 'Efectivo', 'Tarjeta', 'Paypal', 'Efectivo',
        'Tarjeta', 'Paypal', 'Efectivo', 'Tarjeta', 'Paypal', 'Tarjeta', 'Efectivo', 'Efectivo', 'Efectivo', 'Tarjeta'
    ]
}

df = pd.DataFrame(datos)

# Convertir 'Precio_Dolar' a tipo num√©rico inicialmente para que los problemas siguientes funcionen.
df['Precio_Dolar'] = pd.to_numeric(df['Precio_Dolar'], errors='coerce')

print("El DataFrame Original:")
print(df)
print("\n" + "="*40 + "\n")

# =================
# LOS PROBLEMAS üßê
# =================

# Problema 1: Contar los Nulos üïµÔ∏è‚Äç‚ôÄÔ∏è
# Objetivo: Encuentra y cuenta la cantidad de valores nulos en cada columna.
# ¬øCu√°ntos valores nulos hay en 'Fecha_Venta' y 'Pasajero_ID'?
# Escribe tu c√≥digo aqu√≠:


# Problema 2: Eliminar Filas Duplicadas üëØ
# Objetivo: Elimina las filas duplicadas bas√°ndote en la columna 'ID_Boleto'.
# ¬øCu√°ntas filas te quedan despu√©s de este paso?
# Escribe tu c√≥digo aqu√≠:


# Problema 3: Corregir Nombres de Ciudades üåç
# Objetivo: Limpia las columnas 'Origen' y 'Destino'.
# 1. Elimina los espacios en blanco al inicio y al final.
# 2. Convierte todo a min√∫sculas para unificar el formato.
# 3. Corrige el error tipogr√°fico 'CDMX' por 'ciudad de m√©xico' para unificar con el resto.
# Escribe tu c√≥digo aqu√≠:


# Problema 4: Unificar Clase üí∫
# Objetivo: La columna 'Clase' tiene inconsistencias en la escritura.
# 1. Convierte todos los valores a la misma capitalizaci√≥n (e.g., 'Economica', 'Premium', 'Business').
# 2. Renombra la clase 'Economica' a 'Economy' para usar un est√°ndar internacional.
# Escribe tu c√≥digo aqu√≠:


# Problema 5: Unificar M√©todo de Pago üí∞
# Objetivo: Estandariza los valores de la columna 'Metodo_Pago' a 'Tarjeta', 'Paypal' o 'Efectivo'.
# Tip: Usa el m√©todo `.replace()`.
# Escribe tu c√≥digo aqu√≠:


# Problema 6: Rellenar valores nulos üíâ
# Objetivo: Rellena los valores nulos que a√∫n existan en 'Pasajero_ID' y 'Fecha_Venta'.
# 1. Rellena los nulos de 'Pasajero_ID' con el texto 'Desconocido'.
# 2. Rellena los nulos de 'Fecha_Venta' con la fecha m√°s com√∫n (la moda).
# Escribe tu c√≥digo aqu√≠:


# Problema 7: Dividir la Columna 'Pasajero_ID' ‚úÇÔ∏è
# Objetivo: La columna 'Pasajero_ID' tiene un prefijo de letra y un n√∫mero.
# 1. Crea una nueva columna llamada 'Tipo_Pasajero' usando el prefijo de letra (A, B, C, etc.).
# 2. Crea otra columna llamada 'Numero_Pasajero' con el valor num√©rico.
# Escribe tu c√≥digo aqu√≠:


# Problema 8: Crear Nuevas Columnas a partir de la Fecha üìÖ
# Objetivo: La columna 'Fecha_Venta' tiene informaci√≥n valiosa.
# 1. Aseg√∫rate de que la columna es de tipo 'datetime'.
# 2. Crea una nueva columna 'Mes_Venta' extrayendo el mes de la fecha.
# 3. Crea otra columna 'Dia_Semana' con el nombre del d√≠a de la semana.
# Escribe tu c√≥digo aqu√≠:


# Problema 9: Manejo de Outliers en 'Precio_Dolar' üí∏
# Objetivo: Hay un precio excesivamente alto en la columna 'Precio_Dolar'.
# 1. Identifica el valor at√≠pico (el de 99999.0).
# 2. Reemplaza ese valor con la mediana del resto de los precios de la columna.
# Escribe tu c√≥digo aqu√≠:


# Problema 10: Filtrado de Datos üîé
# Objetivo: Despu√©s de la limpieza, filtra el DataFrame para mostrar solo los boletos que:
# 1. Se vendieron en 'mayo' o 'junio' (meses).
# 2. Tienen un 'Precio_Dolar' mayor a 400.
# ¬øCu√°ntas filas cumplen con estas condiciones?
# Escribe tu c√≥digo aqu√≠:


# Problema 11: Inspeccionar la Limpieza ‚úÖ
# Objetivo: Usa `df.info()` y `df.describe()` para verificar que todos los tipos de datos sean correctos y que los precios tengan sentido.
# Escribe tu c√≥digo aqu√≠:


# Problema 12: Resumen Final üìä
# Objetivo: Calcula y muestra el precio promedio de un boleto para cada 'Clase' despu√©s de toda la limpieza.
# Tip: Usa `.groupby()`.
# Escribe tu c√≥digo aqu√≠:

El DataFrame Original:
   ID_Boleto Fecha_Venta              Origen       Destino      Clase  \
0    ABC-101  2024-01-15              MADRID          LIMA  Economica
1    DEF-202  2024-01-15          barcelona         MADRID    Premium
2    GHI-303  2024-01-16    Ciudad de M√©xico        Bogot√°  ECONOMICA
3    JKL-404  2024-02-20                LIMA     sao paulo   Business
4    ABC-101         NaN              MADRID          LIMA  Economica
5    MNO-505  2024-03-01              bogota        MEXICO   Business
6    PQR-606  2024-03-05                LIMA        BOGOTA    Premium
7    STU-707  2024-03-10        Buenos Aires      SANTIAGO  economica
8    MNO-505  2024-03-01              bogota        MEXICO   Business
9    VWX-808  2024-04-01           Sao Paulo  BUENOS AIRES    Premium
10   YZA-909  2024-04-10            SANTIAGO  BUENOS AIRES  ECONOMICA
11   BCD-110  2024-04-25              Madrid          LIMA  Economica
12   EFG-211  2024-05-01           Barcelona        MADRID    Premium
13   HIJ-312  2024-05-12                CDMX        Bogot√°   Business
14   KLM-413  2024-05-20                Lima     Sao Paulo  Economica
15   NOP-514  2024-06-05              Bogot√°        Mexico   Business
16   QRS-615  2024-06-10        Buenos Aires        Bogot√°    Premium
17   TUV-716  2024-06-18           SAO PAULO      Santiago  Economica
18   WXY-817  2024-07-01            Santiago  Buenos Aires    Premium
19   ZAB-918  2024-07-05              Madrid          Lima  Economica
20   CDE-119  2024-07-10           Barcelona        Madrid    Premium
21   FGH-220  2024-07-15                CDMX        Bogota   Business
22   IJK-321  2024-07-20                Lima     Sao Paulo  Economica
23   LMN-422  2024-08-01              Bogot√°        Mexico   Business
24   OPQ-523  2024-08-05        Buenos Aires        Bogota    Premium
25   RST-624  2024-08-10           Sao Paulo      Santiago  Economica
26   UVW-725  2024-08-15            Santiago  Buenos Aires    Premium
27   XYZ-826  2024-08-20              Madrid          Lima  Economica
28   YZA-909  2024-04-10            SANTIAGO  BUENOS AIRES  ECONOMICA
29   ABC-101  2024-01-15              MADRID          LIMA  Economica
30   BCD-110  2024-04-25              Madrid          LIMA    Premium
31   EFG-211  2024-05-01           Barcelona        MADRID   Business
32   HIJ-312  2024-05-12                CDMX        Bogot√°  Economica
33   KLM-413  2024-05-20                Lima     Sao Paulo   Business
34   NOP-514  2024-06-05              Bogot√°        Mexico    Premium
35   QRS-615  2024-06-10        Buenos Aires        Bogot√°  Economica
36   TUV-716  2024-06-18           SAO PAULO      Santiago    Premium
37   WXY-817  2024-07-01            Santiago  Buenos Aires  Economica
38   ZAB-918  2024-07-05              Madrid          Lima    Premium
39   CDE-119  2024-07-10           Barcelona        Madrid  Economica
40   FGH-220  2024-07-15                CDMX        Bogota    Premium
41   IJK-321  2024-07-20                Lima     Sao Paulo   Business
42   LMN-422  2024-08-01              Bogot√°        Mexico  Economica
43   OPQ-523  2024-08-05        Buenos Aires        Bogota   Business
44   RST-624  2024-08-10           Sao Paulo      Santiago    Premium
45   UVW-725  2024-08-15            Santiago  Buenos Aires  Economica
46   XYZ-826  2024-08-20              Madrid          Lima    Premium
47   YZA-909  2024-04-10            SANTIAGO  BUENOS AIRES  Economica
48   ABC-101         NaN              MADRID          LIMA  ECONOMICA
49   BCD-110  2024-04-25              Madrid          LIMA  Economica

    Precio_Dolar Pasajero_ID Metodo_Pago
0          250.0      A-1234     Tarjeta
1          480.5      B-5678      Paypal
2          300.0      C-9012     tarjeta
3          520.0         NaN    Efectivo
4          250.0      A-1234     Tarjeta
5          500.0      D-3456      Paypal
6          450.0      E-7890     Tarjeta
7          270.0      F-1234    Efectivo
8          500.0      D-3456      Paypal
9          480.0      G-5678     Tarjeta
10         310.0      H-9012    Efectivo
11         260.0      I-3456     tarjeta
12         490.0      J-7890      Paypal
13         510.0      K-1234    Efectivo
14         280.0      L-5678     Tarjeta
15         530.0      M-9012      Paypal
16         470.0      N-3456     Tarjeta
17         290.0      O-7890    Efectivo
18         460.0      P-1234     Tarjeta
19         305.0      Q-5678      Paypal
20         495.0      R-9012    Efectivo
21         505.0      S-3456     Tarjeta
22         275.0      T-7890      Paypal
23         525.0      U-1234    Efectivo
24         485.0      V-5678     Tarjeta
25         295.0      W-9012      Paypal
26         475.0      X-3456     tarjeta
27         285.0      Y-7890    Efectivo
28         310.0      H-9012    Efectivo
29         250.0      A-1234     Tarjeta
30         490.0      I-3456     Tarjeta
31         510.0      J-7890      Paypal
32         280.0      K-1234    Efectivo
33         530.0      L-5678     Tarjeta
34         470.0      M-9012      Paypal
35         290.0      N-3456     Tarjeta
36         460.0      O-7890    Efectivo
37         305.0      P-1234     Tarjeta
38         495.0      Q-5678      Paypal
39         505.0      R-9012    Efectivo
40         275.0      S-3456     Tarjeta
41         525.0      T-7890      Paypal
42         485.0      U-1234    Efectivo
43         295.0      V-5678     Tarjeta
44         475.0      W-9012      Paypal
45         285.0      X-3456     Tarjeta
46       99999.0      Y-7890    Efectivo
47         310.0      H-9012    Efectivo
48           NaN         NaN    Efectivo
49         260.0      I-3456     Tarjeta

========================================

In [6]:
import pandas as pd
import numpy as np
import io

# =================
# LA TAREA üéØ
# =================
# Tienes una tabla de inventario y ventas de una tienda de licores.
# La tabla est√° llena de datos inconsistentes y faltantes.
# Tu objetivo es aplicar t√©cnicas de limpieza y preparaci√≥n de datos
# para dejarla lista para su an√°lisis.

# =========================
# EL DATASET SUCIO ORIGINAL
# =========================
# No modifiques este c√≥digo. √ösalo para generar el DataFrame con el que trabajar√°s.

np.random.seed(42)

datos = {
    'ID_Producto': [
        'whisky-101', 'RON-202', 'gin-303', 'Tequila-404', 'whisky-101', 'Vino-505', 'Cerveza-606', 'vino-505',
        'tequila-404', 'Vodka-707', 'WHISKY-101', 'RON-202', 'GIN-303', 'TEQUILA-404', 'VINO-505', 'CERVEZA-606',
        'VODKA-707', 'tequila-404', 'VODKA-707', 'WHISKY-101', 'RON-202', 'GIN-303', 'TEQUILA-404', 'VINO-505',
        'CERVEZA-606', 'VODKA-707', 'whisky-101', 'RON-202', 'GIN-303', 'TEQUILA-404'
    ],
    'Nombre_Producto': [
        'Old Highland', 'Bacardi', 'Tanqueray', 'Don Julio', np.nan, 'Toro', 'Corona', 'Toro',
        'Don Julio', 'Smirnoff', 'Old Highland', 'Bacardi', 'Tanqueray', 'Don Julio', 'Toro', 'Corona',
        'Smirnoff', 'Don Julio', 'Smirnoff', 'Old Highland', 'Bacardi', 'Tanqueray', 'Don Julio', 'Toro',
        'Corona', 'Smirnoff', 'Old Highland', 'Bacardi', np.nan, 'Don Julio'
    ],
    'Categoria': [
        'Whisky', 'Ron', 'Gin', 'Tequila', np.nan, 'Vino', 'Cerveza', 'Vino',
        'Tequila', 'Vodka', 'Whisky', 'Ron', 'Gin', 'Tequila', 'Vino', 'Cerveza',
        'Vodka', 'Tequila', 'Vodka', 'Whisky', 'Ron', 'Gin', 'Tequila', 'Vino',
        'Cerveza', 'Vodka', 'Whisky', 'Ron', 'Gin', 'Tequila'
    ],
    'Cantidad_Stock': [
        150, 200, 180, 250, 150, 300, 400, 300,
        250, 220, 150, 200, np.nan, 250, 300, 400,
        220, 250, 220, 150, 200, 180, 250, 300,
        400, 220, 150, 200, 180, np.nan
    ],
    'Precio_Unitario': [
        '45.50', '30.00', '38.75', '55.00', '45.50', '25.00', '10.00', '25.00',
        '55.00', '42.50', '45.50', '30.00', '38.75', '55.00', '25.00', '10.00',
        '42.50', '55.00', '42.50', '45.50', '30.00', '38.75', '55.00', '25.00',
        '10.00', '42.50', '45.50', '30.00', '38.75', 55.00
    ],
    'Fecha_Recepcion': [
        '2023-11-01', '2023-11-05', '2023-11-10', '2023-11-15', '2023-11-01', '2023-11-20', '2023-11-25', '2023-11-20',
        '2023-11-15', '2023-12-01', '2023-11-01', '2023-11-05', '2023-11-10', '2023-11-15', '2023-11-20', '2023-11-25',
        '2023-12-01', '2023-11-15', '2023-12-01', '2023-11-01', '2023-11-05', '2023-11-10', '2023-11-15', '2023-11-20',
        '2023-11-25', '2023-12-01', '2023-11-01', '2023-11-05', np.nan, '2023-11-15'
    ],
    'Ubicacion': [
        'Estante A', 'Estante B', 'Estante C', 'Estante D', 'Estante A', 'Estante E', 'Estante F', 'Estante E',
        'Estante D', 'Estante G', 'Estante A', 'Estante B', 'Estante C', 'Estante D', 'Estante E', 'Estante F',
        'Estante G', 'Estante D', 'Estante G', 'Estante A', 'Estante B', 'Estante C', 'Estante D', 'Estante E',
        'Estante F', 'Estante G', 'Estante A', 'Estante B', 'Estante C', 'Estante D'
    ],
    'Ventas_Mensuales': [
        50, 65, 40, 80, 50, 75, 120, 75,
        80, 60, 50, 65, 40, 80, 75, 120,
        60, 80, 60, 50, 65, 40, 80, 75,
        120, 60, 50, 65, 40, 80
    ],
    'Proveedor': [
        'Licores S.A.', 'Distribuidora Fina', 'Licores S.A.', 'Bodegas del Sol', 'Licores S.A.', 'Vinos Unidos',
        'Bebidas Globales', 'Vinos Unidos', 'Bodegas del Sol', 'Bebidas Globales', 'Licores S.A.', 'Distribuidora Fina',
        'Licores S.A.', 'Bodegas del Sol', 'Vinos Unidos', 'Bebidas Globales', 'Bebidas Globales', 'Bodegas del Sol',
        'Bebidas Globales', 'Licores S.A.', 'Distribuidora Fina', 'Licores S.A.', 'Bodegas del Sol', 'Vinos Unidos',
        'Bebidas Globales', 'Bebidas Globales', 'Licores S.A.', 'Distribuidora Fina', 'Licores S.A.', 'Bodegas del Sol'
    ]
}

df = pd.DataFrame(datos)

# Convertir 'Precio_Unitario' a tipo num√©rico inicialmente para que los problemas siguientes funcionen.
df['Precio_Unitario'] = pd.to_numeric(df['Precio_Unitario'], errors='coerce')

print("El DataFrame Original:")
print(df)
print("\n" + "="*40 + "\n")

# =================
# LOS PROBLEMAS üßê
# =================

# Problema 1: Contar los Nulos üïµÔ∏è‚Äç‚ôÄÔ∏è
# Objetivo: Encuentra y cuenta la cantidad de valores nulos en cada columna.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 1: Conteo de valores nulos ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 2: Limpiar y Unificar 'ID_Producto' y 'Nombre_Producto' üßπ
# Objetivo: Estandariza estas dos columnas.
# 1. Elimina los duplicados bas√°ndote en 'ID_Producto'.
# 2. Convierte 'ID_Producto' y 'Nombre_Producto' a min√∫sculas.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 2: Limpiar y Unificar 'ID_Producto' y 'Nombre_Producto' ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 3: Corregir Nombres en 'Categoria' y 'Proveedor' üè∑Ô∏è
# Objetivo: Limpia las columnas 'Categoria' y 'Proveedor'.
# 1. Convierte los valores en ambas columnas a un formato estandarizado
#    (e.g., 'Whisky', 'Ron', 'Gin', etc.).
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 3: Corregir nombres en 'Categoria' y 'Proveedor' ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 4: Rellenar nulos üíâ
# Objetivo: Rellena los valores nulos que a√∫n existan.
# 1. En 'Nombre_Producto', rellena los nulos con el valor del mismo 'ID_Producto'.
# 2. En 'Cantidad_Stock', rellena los nulos con 0.
# 3. En 'Categoria', rellena los nulos con 'Desconocida'.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 4: Rellenar nulos ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 5: Crear una columna de Ingresos Totales üí≤
# Objetivo:
# 1. Aseg√∫rate de que 'Precio_Unitario' y 'Ventas_Mensuales' son de tipo num√©rico.
# 2. Crea una nueva columna llamada 'Ingresos_Totales' multiplicando
#    'Precio_Unitario' por 'Ventas_Mensuales'.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 5: Ingresos Totales ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 6: An√°lisis de Eficiencia üìà
# Objetivo:
# 1. Crea una nueva columna 'Ratio_Rotacion' que sea el resultado de dividir
#    'Ventas_Mensuales' entre 'Cantidad_Stock'.
# 2. Identifica y muestra los 3 productos con el mayor 'Ratio_Rotacion'.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 6: An√°lisis de Eficiencia (Ratio de Rotaci√≥n) ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 7: Filtrado de Datos üîé
# Objetivo: Filtra el DataFrame para mostrar solo los productos que:
# 1. Tienen un 'Precio_Unitario' mayor a 40.
# 2. Pertenecen a la categor√≠a 'Whisky' o 'Tequila'.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 7: Filtrado de Datos ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")


# Problema 8: Resumen Final üìä
# Objetivo: Calcula y muestra el 'Ingresos_Totales' promedio por 'Proveedor'.
# Escribe tu c√≥digo aqu√≠:
print("--- Problema 8: Resumen Final ---")
# Escribe tu c√≥digo aqu√≠:
print("\n" + "="*40 + "\n")

El DataFrame Original:
    ID_Producto Nombre_Producto Categoria  Cantidad_Stock  Precio_Unitario  \
0    whisky-101    Old Highland    Whisky           150.0            45.50
1       RON-202         Bacardi       Ron           200.0            30.00
2       gin-303       Tanqueray       Gin           180.0            38.75
3   Tequila-404       Don Julio   Tequila           250.0            55.00
4    whisky-101             NaN       NaN           150.0            45.50
5      Vino-505            Toro      Vino           300.0            25.00
6   Cerveza-606          Corona   Cerveza           400.0            10.00
7      vino-505            Toro      Vino           300.0            25.00
8   tequila-404       Don Julio   Tequila           250.0            55.00
9     Vodka-707        Smirnoff     Vodka           220.0            42.50
10   WHISKY-101    Old Highland    Whisky           150.0            45.50
11      RON-202         Bacardi       Ron           200.0            30.00
12      GIN-303       Tanqueray       Gin             NaN            38.75
13  TEQUILA-404       Don Julio   Tequila           250.0            55.00
14     VINO-505            Toro      Vino           300.0            25.00
15  CERVEZA-606          Corona   Cerveza           400.0            10.00
16    VODKA-707        Smirnoff     Vodka           220.0            42.50
17  tequila-404       Don Julio   Tequila           250.0            55.00
18    VODKA-707        Smirnoff     Vodka           220.0            42.50
19   WHISKY-101    Old Highland    Whisky           150.0            45.50
20      RON-202         Bacardi       Ron           200.0            30.00
21      GIN-303       Tanqueray       Gin           180.0            38.75
22  TEQUILA-404       Don Julio   Tequila           250.0            55.00
23     VINO-505            Toro      Vino           300.0            25.00
24  CERVEZA-606          Corona   Cerveza           400.0            10.00
25    VODKA-707        Smirnoff     Vodka           220.0            42.50
26   whisky-101    Old Highland    Whisky           150.0            45.50
27      RON-202         Bacardi       Ron           200.0            30.00
28      GIN-303             NaN       Gin           180.0            38.75
29  TEQUILA-404       Don Julio   Tequila             NaN            55.00

   Fecha_Recepcion  Ubicacion  Ventas_Mensuales           Proveedor
0       2023-11-01  Estante A                50        Licores S.A.
1       2023-11-05  Estante B                65  Distribuidora Fina
2       2023-11-10  Estante C                40        Licores S.A.
3       2023-11-15  Estante D                80     Bodegas del Sol
4       2023-11-01  Estante A                50        Licores S.A.
5       2023-11-20  Estante E                75        Vinos Unidos
6       2023-11-25  Estante F               120    Bebidas Globales
7       2023-11-20  Estante E                75        Vinos Unidos
8       2023-11-15  Estante D                80     Bodegas del Sol
9       2023-12-01  Estante G                60    Bebidas Globales
10      2023-11-01  Estante A                50        Licores S.A.
11      2023-11-05  Estante B                65  Distribuidora Fina
12      2023-11-10  Estante C                40        Licores S.A.
13      2023-11-15  Estante D                80     Bodegas del Sol
14      2023-11-20  Estante E                75        Vinos Unidos
15      2023-11-25  Estante F               120    Bebidas Globales
16      2023-12-01  Estante G                60    Bebidas Globales
17      2023-11-15  Estante D                80     Bodegas del Sol
18      2023-12-01  Estante G                60    Bebidas Globales
19      2023-11-01  Estante A                50        Licores S.A.
20      2023-11-05  Estante B                65  Distribuidora Fina
21      2023-11-10  Estante C                40        Licores S.A.
22      2023-11-15  Estante D                80     Bodegas del Sol
23      2023-11-20  Estante E                75        Vinos Unidos
24      2023-11-25  Estante F               120    Bebidas Globales
25      2023-12-01  Estante G                60    Bebidas Globales
26      2023-11-01  Estante A                50        Licores S.A.
27      2023-11-05  Estante B                65  Distribuidora Fina
28             NaN  Estante C                40        Licores S.A.
29      2023-11-15  Estante D                80     Bodegas del Sol

========================================

--- Problema 1: Conteo de valores nulos ---

========================================

--- Problema 2: Limpiar y Unificar 'ID_Producto' y 'Nombre_Producto' ---

========================================

--- Problema 3: Corregir nombres en 'Categoria' y 'Proveedor' ---

========================================

--- Problema 4: Rellenar nulos ---

========================================

--- Problema 5: Ingresos Totales ---

========================================

--- Problema 6: An√°lisis de Eficiencia (Ratio de Rotaci√≥n) ---

========================================

--- Problema 7: Filtrado de Datos ---

========================================

--- Problema 8: Resumen Final ---

========================================