In [31]:
import pandas as pd
#1. Â¡Tu primera Serie! 
numero=[10,11,12,13,14,15]
mis_numeros=pd.Series(numero)
print(mis_numeros)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

In [1]:
import pandas as pd
#2. Â¡Con etiquetas!
serie_frutas={
        "Manzana":5,
        "Naranja":10,
        "Pera":8
}
frutas=pd.Series(serie_frutas)
print(f"FRUTAS\n{frutas}\n")

FRUTAS
Manzana     5
Naranja    10
Pera        8
dtype: int64

In [2]:
import pandas as pd
#3. Â¡Desde un diccionario!
Serie_capitales={
    "Italia":"Roma",
    "Venezuela":"Caracas",
    "Argentina":"Buenos Aires",
    "Francia":"Paris",
    "Peru":"Lima"
}
capitales=pd.Series(Serie_capitales)
print(f"CAPITALES\n{capitales}\n")

CAPITALES
Italia               Roma
Venezuela         Caracas
Argentina    Buenos Aires
Francia             Paris
Peru                 Lima
dtype: object

In [34]:
#4. Â¡SelecciÃ³n fÃ¡cil!
#Seleccion por posiciÃ³n
seleccion_primero_valor=mis_numeros[0]
print(f"El primer Valor es: {seleccion_primero_valor}")

El primer Valor es: 10

In [4]:
#5. Â¡Por nombre!
seleccion_por_nombre=frutas["Manzana"]
print(f"La cantidad de Manzana es : {seleccion_por_nombre}")

La cantidad de Manzana es : 5

In [5]:
#6 Â¡Varios a la vez! 
import pandas as pd
seleccion_varios=frutas[["Naranja","Pera"]]
print(f"INVENTARIO DE FRUTAS SELECCIONADA\n{seleccion_varios}\n")

INVENTARIO DE FRUTAS SELECCIONADA
Naranja    10
Pera        8
dtype: int64

In [9]:
# SecciÃ³n 2: Creando y Manipulando DataFrames ðŸ“Š
#7. Â¡DataFrame de personas! 
datos_de_personas={
    "personas":["juan","ana","pedro"],
    "edad":[30,25,35]
}
df_personas=pd.DataFrame(datos_de_personas)
print(f"Datos de Personas\n{df_personas}\n")

Datos de Personas
  personas  edad
0     juan    30
1      ana    25
2    pedro    35

In [7]:
#8. Â¡MÃ­ralo bien! .shape
print(f"muestra la forma de df_personas en filas y columnna df_personas.shape")

# Importamos la librerÃ­a pandas
import pandas as pd

# Creamos un DataFrame de ejemplo
datos = {
    'Nombre': ['Ana', 'Juan', 'Pedro', 'MarÃ­a', 'Luis'],
    'Edad': [25, 30, 35, 28, 42],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Bilbao']
}
df_personas2 = pd.DataFrame(datos)

# --- MÃ‰TODOS PARA MOSTRAR LA FORMA DEL DATAFRAME ---

# OpciÃ³n 1: Muestra la forma como una tupla (filas, columnas)
# El cÃ³digo original funciona, solo corregimos el error de escritura.
print(f"La forma de df_personas es (filas, columnas): {df_personas2.shape}")

# OpciÃ³n 2: Un mÃ©todo mÃ¡s comÃºn y claro para mostrar las filas y columnas por separado
# El atributo .shape devuelve una tupla, por lo que podemos desempaquetarla.
num_filas, num_columnas = df_personas2.shape

print("-" * 30)
print(f"El DataFrame 'df_personas' tiene {num_filas} filas.")
print(f"El DataFrame 'df_personas' tiene {num_columnas} columnas.")

muestra la forma de df_personas en filas y columnna df_personas.shape
La forma de df_personas es (filas, columnas): (5, 3)
------------------------------
El DataFrame 'df_personas' tiene 5 filas.
El DataFrame 'df_personas' tiene 3 columnas.

In [10]:
import pandas as pd
#9. Â¡Nombres de columnas! .columns
columna_1,columna_2=df_personas.columns
print(f"NOMBRE DE LA COLUMNA 1 {columna_1}")
print(f"NOMBRE DE LA COLUMNA 2 {columna_2}")

NOMBRE DE LA COLUMNA 1 personas
NOMBRE DE LA COLUMNA 2 edad

In [44]:
#10. Â¡Una sola columna!
#Selecciono la columna nombre
columna_nombre=df_personas[["personas"]]
print(f"La columna\n {columna_nombre}\n")

La columna
   personas
0     juan
1      ana
2    pedro

In [47]:
#11. Â¡Seleccionando dos! 
columna_nombres_columna_edad=df_personas[["personas","edad"]]
print(columna_nombres_columna_edad)

  personas  edad
0     juan    30
1      ana    25
2    pedro    35

In [49]:
#12. Â¡Agrega un dato nuevo! 
df_personas["ciudad"]=["Madrid","Barcelona","Valencia"]
print(f"Actualizacion de datos personas\n{df_personas}\n")

Actualizacion de datos personas
  personas  edad     ciudad
0     juan    30     Madrid
1      ana    25  Barcelona
2    pedro    35   Valencia

In [11]:
#13. Â¡Cargando el archivo! 
import pandas as pd
from IPython.display import display #para visualizan en tabla 
df_ventas = pd.read_csv("VENTAS.csv")
print(f"contenido del DataFrame")
print(df_ventas)

print("\n---VISTA TABLA---")
display(df_ventas)

contenido del DataFrame
     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

---VISTA TABLA---

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

In [ ]:
#14. Â¡Un primer vistazo! .head
import pandas as pd
from IPython.display import display
muestra_5_datos_ventas=df_ventas.head()
print("\n---- MUESTRA DE CINCO DATOS ----")
display(muestra_5_datos_ventas)

---- MUESTRA DE CINCO DATOS ----

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1

In [20]:
# 15. Â¡Una mirada al final! .tail
import pandas as pd
from IPython.display import display
ultimas_3_filas=df_ventas.tail(3)
print("\n--ULTIMA 3 FILAS--")
display(ultimas_3_filas)

--ULTIMA 3 FILAS--

  Producto  Precio  Cantidad
4  galleta     1.5         1
5    pizza     1.3         4
6    sushi    14.0         2

In [28]:
#16. Â¡Resumen rÃ¡pido! .info
import pandas as pd

resumen_ventas=df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Producto  7 non-null      object
 1   Precio    7 non-null      float64
 2   Cantidad  7 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes

In [35]:
# 17. Â¡EstadÃ­sticas mÃ¡gicas!.describe()
estadistica_ventas=df_ventas.describe()
print(f"Estadistica de DateFrame\n{estadistica_ventas}\n")
print("El precio promedio de los productos lo podemos observar en la media que es de aproximadamente de 3.012857")

Estadistica de DateFrame
          Precio   Cantidad
count   7.000000   7.000000
mean    3.012857   3.571429
std     4.879019   3.408672
min     0.100000   1.000000
25%     1.095000   1.000000
50%     1.300000   2.000000
75%     1.750000   5.000000
max    14.000000  10.000000

El precio promedio de los productos lo podemos observar en la media que es de aproximadamente de 3.012857

In [ ]:
#18. Â¡MÃ¡s detalles! .dtype
import pandas as pd
df_ventas = pd.read_csv("VENTAS.csv")
tipo_de_datos_columna_producto=df_ventas["Producto"].dtype
print(f"Tipo de la variable producto es {tipo_de_datos_columna_producto}")

Tipo de la variable producto es object

In [40]:
# 19. Â¡Combinando!
import pandas as pd
df_ventas = pd.read_csv("VENTAS.csv")
estadistica_precio=df_ventas["Precio"].describe()
print(f"Datos Estadistico de la Columna precio \n{estadistica_precio}\n")

Datos Estadistico de la Columna precio
count     7.000000
mean      3.012857
std       4.879019
min       0.100000
25%       1.095000
50%       1.300000
75%       1.750000
max      14.000000
Name: Precio, dtype: float64

In [41]:
#20 Â¡DesafÃ­o final!
info_conlumna_cantida=df_ventas["Cantidad"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: Cantidad
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes

In [42]:
# ejemplo 
import pandas as pd
from io import StringIO

# --- ConfiguraciÃ³n para simular la carga del archivo CSV ---
# El cÃ³digo es completamente autÃ³nomo y no necesita el archivo VENTAS.csv.
csv_data = """Producto,Precio,Cantidad
leche,2,1
tomate,0.1,10
pan,1.2,1
harina_pan,0.99,6
galleta,1.5,1
pizza,1.3,4
sushi,14,2
"""
df_ventas = pd.read_csv(StringIO(csv_data))
# -------------------------------------------------------------

# 1. Seleccionar la columna 'Cantidad'
# Esto crea una Serie de pandas.
columna_cantidad = df_ventas["Cantidad"]

# 2. Usar el mÃ©todo .info() directamente en la columna
# Este mÃ©todo imprime el resumen de la Serie, incluyendo si hay valores nulos.
# Nota: No se asigna a una variable porque el mÃ©todo no retorna nada.
print("InformaciÃ³n de la columna 'Cantidad':")
columna_cantidad.info()

InformaciÃ³n de la columna 'Cantidad':
<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: Cantidad
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes

In [59]:
import pandas as pd
from IPython.display import display
df_ventas=pd.read_csv("VENTAS.csv")
df_ventas_original=pd.read_csv("VENTAS.csv")
display(df_ventas)
#Problema 1: CÃ¡lculo de Ventas Totales por Producto ðŸ’°
venta=df_ventas["Precio"]*df_ventas["Cantidad"]
df_ventas["Total en Ventas"]=venta

print("Data Frame Actualizado")
display(df_ventas)

#Problema 2: Identificar al "Rey de las Ventas" ðŸ‘‘
produccto_rey=df_ventas["Total en Ventas"].idxmax()
print(produccto_rey)
print(df_ventas["Total en Ventas"].loc[produccto_rey])
print(df_ventas["Total en Ventas"].iloc[produccto_rey])
#Problema 3: Â¡Nuevos Datos en la Mesa! ðŸ†•

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

Data Frame Actualizado

     Producto  Precio  Cantidad  Total en Ventas
0       leche    2.00         1             2.00
1      tomate    0.10        10             1.00
2         pan    1.20         1             1.20
3  harina_pan    0.99         6             5.94
4     galleta    1.50         1             1.50
5       pizza    1.30         4             5.20
6       sushi   14.00         2            28.00

6
28.0
28.0

In [ ]:
import pandas as pd
from IPython.display import display
df_ventas=pd.read_csv("VENTAS.csv")
display(df_ventas)
#Problema 3: Â¡Nuevos Datos en la Mesa! ðŸ†•
df_venta

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

In [11]:
import pandas as pd
from IPython.display import display
df_ventas=pd.read_csv("VENTAS.csv")

display(df_ventas)

#Problema 3: Â¡Nuevos Datos en la Mesa! 
N_producto={
    "Producto":["refresco"],
    "Precio":[2.5],
    "Cantidad":[3]
}
producto_nuevo= pd.DataFrame(N_producto)
display(producto_nuevo)

#Uno producto por 
df_nuevo_ventas=pd.concat([df_ventas,producto_nuevo],ignore_index=True) #ignore_index=True sirve para colocar en orden los indice
display(df_nuevo_ventas)
Total_Ventas=df_nuevo_ventas["Precio"]*df_nuevo_ventas["Cantidad"]
df_nuevo_ventas["Total Ventas"]=Total_Ventas

display(df_nuevo_ventas)

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

   Producto  Precio  Cantidad
0  refresco     2.5         3

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2
7    refresco    2.50         3

     Producto  Precio  Cantidad  Total Ventas
0       leche    2.00         1          2.00
1      tomate    0.10        10          1.00
2         pan    1.20         1          1.20
3  harina_pan    0.99         6          5.94
4     galleta    1.50         1          1.50
5       pizza    1.30         4          5.20
6       sushi   14.00         2         28.00
7    refresco    2.50         3          7.50

In [ ]:
#Problema 1: CreaciÃ³n de un DataFrame desde un Diccionario
datos={
    "pais":["EspaÃ±a","Francia","Alemania","Italia"],
    "poblacion_millones":[47,65,83,60],
    "capital":["Madrid","Paris","Berlin","Roma"]
}
import pandas as pd
from IPython.display import display
df_informacion_paises=pd.DataFrame(datos)
display(df_informacion_paises)

#Problema 2: SelecciÃ³n de Columnas 
columna_pais=df_informacion_paises[["pais"]]
print(f"la columna pais\n{columna_pais}\n")
columna_pais_capital=df_informacion_paises[["pais","capital"]]
print(f"columna pais-capital\n{columna_pais_capital}\n")
#Problema 3: Acceso a Filas (SelecciÃ³n BÃ¡sica) 
inf_copleta_alemania= df_informacion_paises.loc[2]
print(inf_copleta_alemania)
primera_fila=df_informacion_paises.iloc[0]
print(primera_fila)
#Problema 4: CreaciÃ³n de una Nueva Columna 
df_informacion_paises["continente"]=["Europa","Europa","Europa","Europa"]
print(df_informacion_paises)
#Problema 5: ModificaciÃ³n de un Valor EspecÃ­fico  
df_informacion_paises["poblacion_millones"]=df_informacion_paises["poblacion_millones"].astype(float) #astype(float)cambia la variable d ela columna

df_informacion_paises.loc[0, "poblacion_millones"]=47.7
display(df_informacion_paises)

       pais  poblacion_millones capital
0    EspaÃ±a                  47  Madrid
1   Francia                  65   Paris
2  Alemania                  83  Berlin
3    Italia                  60    Roma

la columna pais
       pais
0    EspaÃ±a
1   Francia
2  Alemania
3    Italia

columna pais-capital
       pais capital
0    EspaÃ±a  Madrid
1   Francia   Paris
2  Alemania  Berlin
3    Italia    Roma

pais                  Alemania
poblacion_millones          83
capital                 Berlin
Name: 2, dtype: object
pais                  EspaÃ±a
poblacion_millones        47
capital               Madrid
Name: 0, dtype: object
       pais  poblacion_millones capital continente
0    EspaÃ±a                  47  Madrid     Europa
1   Francia                  65   Paris     Europa
2  Alemania                  83  Berlin     Europa
3    Italia                  60    Roma     Europa

       pais  poblacion_millones capital continente
0    EspaÃ±a                47.7  Madrid     Europa
1   Francia                65.0   Paris     Europa
2  Alemania                83.0  Berlin     Europa
3    Italia                60.0    Roma     Europa

In [80]:
import pandas as pd
from IPython.display import display
#CreaciÃ³n del diccionario para el Data Frame

data={
    "Producto":["leche","tomate","pan","harina_pan","galleta","pizza","sushi"],
    "Precio":[2.0,0.1,1.2,0.99,1.5,1.3,14.0],
    "Cantidad":[1,10,1,6,1,4,2]
}
df_ventas=pd.DataFrame(data)
print("DataFrame Inicial")
print(df_ventas)

DataFrame Inicial
     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

In [81]:
#Problema 1: Seleccionar el Producto mÃ¡s Caro
#Objetivo: Encuentra y muestra el precio del producto mÃ¡s caro en tu DataFrame
precio_mas_caro=df_ventas["Precio"].max()
print(f"El precio mas caro es {precio_mas_caro}")
indice_producto_mas_caro=df_ventas["Precio"].idxmax()
producto_mas_caro=df_ventas.loc[indice_producto_mas_caro,"Producto"]
print(f"El Producto mas caro es {producto_mas_caro}")

El precio mas caro es 14.0
El Producto mas caro es sushi

In [82]:
#Problema 2: Filtrar Productos con Precio Bajo
#Crea un nuevo DataFrame que contenga solo los productos cuyo precio es menor a 1.5
#metodo real con mascara 
mascara=df_ventas["Precio"]<1.5
df_productos_con_menor_precio=df_ventas[mascara]
print(f"LISTA DE PRODUCTO CON MENOR PRECIO \n{df_productos_con_menor_precio}\n")

LISTA DE PRODUCTO CON MENOR PRECIO
     Producto  Precio  Cantidad
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
5       pizza    1.30         4

In [83]:
#Problema 3: Calcular el Stock Total de Productos
#Objetivo: Suma todas las cantidades de la columna Cantidad para obtener el total de unidades en tu inventario
cantidad_total_de_unidades=df_ventas["Cantidad"].sum()
print(f"La Cantidad total de unidades es {cantidad_total_de_unidades}")

La Cantidad total de unidades es 25

In [85]:
#Problema 4: Agregar una Columna de Impuestos
#Objetivo: AÃ±ade una nueva columna llamada Impuestos al DataFrame. El valor de los
#impuestos debe ser el 15% del Precio de cada producto


impuesto=15/100*df_ventas["Precio"] 
precio_con_impuesto=impuesto+df_ventas["Precio"]
display(impuesto)
display(precio_con_impuesto)
df_ventas["Impuesto"]=impuesto
df_ventas["Precio_con_Impuesto"]=precio_con_impuesto
#df_ventas.drop("Precio_con_Impuesyo",axis=1,inplace=True) para eleminar columnas
display(df_ventas)

0    0.3000
1    0.0150
2    0.1800
3    0.1485
4    0.2250
5    0.1950
6    2.1000
Name: Precio, dtype: float64

0     2.3000
1     0.1150
2     1.3800
3     1.1385
4     1.7250
5     1.4950
6    16.1000
Name: Precio, dtype: float64

     Producto  Precio  Cantidad  Impuesto  Precio_con_Impuesto
0       leche    2.00         1    0.3000               2.3000
1      tomate    0.10        10    0.0150               0.1150
2         pan    1.20         1    0.1800               1.3800
3  harina_pan    0.99         6    0.1485               1.1385
4     galleta    1.50         1    0.2250               1.7250
5       pizza    1.30         4    0.1950               1.4950
6       sushi   14.00         2    2.1000              16.1000

In [86]:
#Problema 5: Renombrar una Columna
#Objetivo: Cambia el nombre de la columna Cantidad a Unidades_Disponibles en el
#DataFrame
#Usa el mÃ©todo .rename() con el parÃ¡metro columns. No olvides el parÃ¡metro
#inplace=True o reasignar el DataFrame
df_ventas.rename(columns={"Cantidad":"Unidades_Disponibles"},inplace=True)
display(df_ventas)

     Producto  Precio  Unidades_Disponibles  Impuesto  Precio_con_Impuesto
0       leche    2.00                     1    0.3000               2.3000
1      tomate    0.10                    10    0.0150               0.1150
2         pan    1.20                     1    0.1800               1.3800
3  harina_pan    0.99                     6    0.1485               1.1385
4     galleta    1.50                     1    0.2250               1.7250
5       pizza    1.30                     4    0.1950               1.4950
6       sushi   14.00                     2    2.1000              16.1000

In [87]:
#Problema 6: Seleccionar el Precio de un Producto EspecÃ­fico
mascara=df_ventas["Producto"]=="pizza"
print(mascara)
fila_producto=df_ventas[mascara]
print(fila_producto)
#4. Seleccionamos la columna 'Precio' de la fila filtrada.
precio_serie=fila_producto["Precio"]
print(precio_serie)

# 5. Para obtener solo el valor numÃ©rico, usamos el mÃ©todo .item()
precio_valor=precio_serie.item()
print(precio_valor)
#Problema 6: Seleccionar el Precio de un Producto EspecÃ­fico
# Puedes hacer todo esto en una sola lÃ­nea, lo que es muy comÃºn en Pandas:
precio_en_una_linea=df_ventas[df_ventas["Producto"]=="pizza"]["Precio"].item()
print(f"precio en una sola linea {precio_en_una_linea}")

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: Producto, dtype: bool
  Producto  Precio  Unidades_Disponibles  Impuesto  Precio_con_Impuesto
5    pizza     1.3                     4     0.195                1.495
5    1.3
Name: Precio, dtype: float64
1.3
precio en una sola linea 1.3

In [88]:
#Problema 6: Seleccionar el Precio de un Producto EspecÃ­fico
# Puedes hacer todo esto en una sola lÃ­nea, lo que es muy comÃºn en Pandas:
precio_en_una_linea=df_ventas[df_ventas["Producto"]=="pizza"]["Precio"].item()
print(f"precio en una sola linea {precio_en_una_linea}")

precio en una sola linea 1.3

In [ ]:
#Problema 7: Reemplazar un Valor
#Objetivo: El precio de la galleta ha subido a 1.75. Actualiza el valor en el DataFrame
df_ventas.loc[4,"Precio"]=1.75

In [91]:
display(df_ventas)

     Producto  Precio  Unidades_Disponibles  Impuesto  Precio_con_Impuesto
0       leche    2.00                     1    0.3000               2.3000
1      tomate    0.10                    10    0.0150               0.1150
2         pan    1.20                     1    0.1800               1.3800
3  harina_pan    0.99                     6    0.1485               1.1385
4     galleta    1.75                     1    0.2250               1.7250
5       pizza    1.30                     4    0.1950               1.4950
6       sushi   14.00                     2    2.1000              16.1000

In [93]:
#Problema 8: Conocer el TamaÃ±o de tu DataFrame
numero_de_fila,numero_de_columna=df_ventas.shape
print(f"El numero de fila es {numero_de_fila} y el numero de columna es {numero_de_columna}")

El numero de fila es 7 y el numero de columna es 5

In [98]:
total=df_ventas["Precio"]*df_ventas["Unidades_Disponibles"]
df_ventas["Total"]=total
display(df_ventas)

,Producto,Precio,Unidades_Disponibles,Impuesto,Precio_con_Impuesto,Total
0,leche,2.00,1,0.3000,2.3000,2.00
1,tomate,0.10,10,0.0150,0.1150,1.00
2,pan,1.20,1,0.1800,1.3800,1.20
3,harina_pan,0.99,6,0.1485,1.1385,5.94
4,galleta,1.75,1,0.2250,1.7250,1.75
5,pizza,1.30,4,0.1950,1.4950,5.20
6,sushi,14.00,2,2.1000,16.1000,28.00

In [106]:
#
mascara_unidades=df_ventas["Unidades_Disponibles"]>5
producto_mayores5=df_ventas[mascara_unidades]
display(producto_mayores5)

df_productos_filtrado=len(producto_mayores5)
print(df_productos_filtrado)

,Producto,Precio,Unidades_Disponibles,Impuesto,Precio_con_Impuesto,Total
1,tomate,0.10,10,0.0150,0.1150,1.00
3,harina_pan,0.99,6,0.1485,1.1385,5.94

2