In [31]:
import pandas as pd
#1. Â¡Tu primera Serie! 
numero=[10,11,12,13,14,15]
mis_numeros=pd.Series(numero)
print(mis_numeros)

0    10
1    11
2    12
3    13
4    14
5    15
dtype: int64

In [32]:
import pandas as pd
#2. Â¡Con etiquetas!
serie_frutas={"Manzana":5,
        "Naranja":10,
        "Pera":8
}
frutas=pd.Series(serie_frutas)
print(f"FRUTAS\n{frutas}\n")

FRUTAS
Manzana     5
Naranja    10
Pera        8
dtype: int64

In [33]:
import pandas as pd
#3. Â¡Desde un diccionario!
Serie_capitales={
    "Italia":"Roma",
    "Venezuela":"Caracas",
    "Argentina":"Buenos Aires",
    "Francia":"Paris",
    "Peru":"Lima"
}
capitales=pd.Series(Serie_capitales)
print(f"CAPITALES\n{capitales}\n")

CAPITALES
Italia               Roma
Venezuela         Caracas
Argentina    Buenos Aires
Francia             Paris
Peru                 Lima
dtype: object

In [34]:
#4. Â¡SelecciÃ³n fÃ¡cil!
#Seleccion por posiciÃ³n
seleccion_primero_valor=mis_numeros[0]
print(f"El primer Valor es: {seleccion_primero_valor}")

El primer Valor es: 10

In [35]:
#5. Â¡Por nombre!
seleccion_por_nombre=frutas["Manzana"]
print(f"La cantidad de Manzana es : {seleccion_por_nombre}")

La cantidad de Manzana es : 5

In [36]:
#6 Â¡Varios a la vez! 
import pandas as pd
seleccion_varios=frutas[["Naranja","Pera"]]
print(f"INVENTARIO DE FRUTAS SELECCIONADA\n{seleccion_varios}\n")

INVENTARIO DE FRUTAS SELECCIONADA
Naranja    10
Pera        8
dtype: int64

In [45]:
# SecciÃ³n 2: Creando y Manipulando DataFrames ðŸ“Š
#7. Â¡DataFrame de personas! 
datos_de_personas={
    "personas":["juan","ana","pedro"],
    "edad":[30,25,35]
}
df_personas=pd.DataFrame(datos_de_personas)
print(f"Datos de Personas\n{df_personas}\n")

Datos de Personas
  personas  edad
0     juan    30
1      ana    25
2    pedro    35

In [38]:
#8. Â¡MÃ­ralo bien! .shape
print(f"muestra la forma de df_personas en filas y columnna {df_personas.shape}")

# Importamos la librerÃ­a pandas
import pandas as pd

# Creamos un DataFrame de ejemplo
datos = {
    'Nombre': ['Ana', 'Juan', 'Pedro', 'MarÃ­a', 'Luis'],
    'Edad': [25, 30, 35, 28, 42],
    'Ciudad': ['Madrid', 'Barcelona', 'Valencia', 'Sevilla', 'Bilbao']
}
df_personas2 = pd.DataFrame(datos)

# --- MÃ‰TODOS PARA MOSTRAR LA FORMA DEL DATAFRAME ---

# OpciÃ³n 1: Muestra la forma como una tupla (filas, columnas)
# El cÃ³digo original funciona, solo corregimos el error de escritura.
print(f"La forma de df_personas es (filas, columnas): {df_personas2.shape}")

# OpciÃ³n 2: Un mÃ©todo mÃ¡s comÃºn y claro para mostrar las filas y columnas por separado
# El atributo .shape devuelve una tupla, por lo que podemos desempaquetarla.
num_filas, num_columnas = df_personas2.shape

print("-" * 30)
print(f"El DataFrame 'df_personas' tiene {num_filas} filas.")
print(f"El DataFrame 'df_personas' tiene {num_columnas} columnas.")

muestra la forma de df_personas en filas y columnna (3, 2)
La forma de df_personas es (filas, columnas): (5, 3)
------------------------------
El DataFrame 'df_personas' tiene 5 filas.
El DataFrame 'df_personas' tiene 3 columnas.

In [41]:
import pandas as pd
#9. Â¡Nombres de columnas! .columns
columna_1,columna_2=df_personas.columns
print(f"NOMBRE DE LA COLUMNA 1 {columna_1}")
print(f"NOMBRE DE LA COLUMNA 2 {columna_2}")

NOMBRE DE LA COLUMNA 1 personas
NOMBRE DE LA COLUMNA 2 edad

In [44]:
#10. Â¡Una sola columna!
#Selecciono la columna nombre
columna_nombre=df_personas[["personas"]]
print(f"La columna\n {columna_nombre}\n")

La columna
   personas
0     juan
1      ana
2    pedro

In [47]:
#11. Â¡Seleccionando dos! 
columna_nombres_columna_edad=df_personas[["personas","edad"]]
print(columna_nombres_columna_edad)

  personas  edad
0     juan    30
1      ana    25
2    pedro    35

In [49]:
#12. Â¡Agrega un dato nuevo! 
df_personas["ciudad"]=["Madrid","Barcelona","Valencia"]
print(f"Actualizacion de datos personas\n{df_personas}\n")

Actualizacion de datos personas
  personas  edad     ciudad
0     juan    30     Madrid
1      ana    25  Barcelona
2    pedro    35   Valencia

In [ ]:
#13. Â¡Cargando el archivo! 
import pandas as pd
from IPython.display import display #para visualizan en tabla 
df_ventas = pd.read_csv("VENTAS.csv")
print(f"contenido del DataFrame")
print(df_ventas)

print("\n---VISTA TABLA---")
display(df_ventas)

contenido del DataFrame
     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

---VISTA TABLA---

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1
5       pizza    1.30         4
6       sushi   14.00         2

In [ ]:
#14. Â¡Un primer vistazo! .head
import pandas as pd
from IPython.display import display
muestra_5_datos_ventas=df_ventas.head()
print("\n---- MUESTRA DE CINCO DATOS ----")
display(muestra_5_datos_ventas)

---- MUESTRA DE CINCO DATOS ----

     Producto  Precio  Cantidad
0       leche    2.00         1
1      tomate    0.10        10
2         pan    1.20         1
3  harina_pan    0.99         6
4     galleta    1.50         1

In [20]:
# 15. Â¡Una mirada al final! .tail
import pandas as pd
from IPython.display import display
ultimas_3_filas=df_ventas.tail(3)
print("\n--ULTIMA 3 FILAS--")
display(ultimas_3_filas)

--ULTIMA 3 FILAS--

  Producto  Precio  Cantidad
4  galleta     1.5         1
5    pizza     1.3         4
6    sushi    14.0         2

In [28]:
#16. Â¡Resumen rÃ¡pido! .info
import pandas as pd

resumen_ventas=df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Producto  7 non-null      object
 1   Precio    7 non-null      float64
 2   Cantidad  7 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 300.0+ bytes

In [35]:
# 17. Â¡EstadÃ­sticas mÃ¡gicas!.describe()
estadistica_ventas=df_ventas.describe()
print(f"Estadistica de DateFrame\n{estadistica_ventas}\n")
print("El precio promedio de los productos lo podemos observar en la media que es de aproximadamente de 3.012857")

Estadistica de DateFrame
          Precio   Cantidad
count   7.000000   7.000000
mean    3.012857   3.571429
std     4.879019   3.408672
min     0.100000   1.000000
25%     1.095000   1.000000
50%     1.300000   2.000000
75%     1.750000   5.000000
max    14.000000  10.000000

El precio promedio de los productos lo podemos observar en la media que es de aproximadamente de 3.012857

In [ ]:
#18. Â¡MÃ¡s detalles! .dtype
import pandas as pd
df_ventas = pd.read_csv("VENTAS.csv")
tipo_de_datos_columna_producto=df_ventas["Producto"].dtype
print(f"Tipo de la variable producto es {tipo_de_datos_columna_producto}")

Tipo de la variable producto es object

In [40]:
# 19. Â¡Combinando!
import pandas as pd
df_ventas = pd.read_csv("VENTAS.csv")
estadistica_precio=df_ventas["Precio"].describe()
print(f"Datos Estadistico de la Columna precio \n{estadistica_precio}\n")

Datos Estadistico de la Columna precio
count     7.000000
mean      3.012857
std       4.879019
min       0.100000
25%       1.095000
50%       1.300000
75%       1.750000
max      14.000000
Name: Precio, dtype: float64

In [41]:
#20 Â¡DesafÃ­o final!
info_conlumna_cantida=df_ventas["Cantidad"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: Cantidad
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes

In [42]:
# ejemplo 
import pandas as pd
from io import StringIO

# --- ConfiguraciÃ³n para simular la carga del archivo CSV ---
# El cÃ³digo es completamente autÃ³nomo y no necesita el archivo VENTAS.csv.
csv_data = """Producto,Precio,Cantidad
leche,2,1
tomate,0.1,10
pan,1.2,1
harina_pan,0.99,6
galleta,1.5,1
pizza,1.3,4
sushi,14,2
"""
df_ventas = pd.read_csv(StringIO(csv_data))
# -------------------------------------------------------------

# 1. Seleccionar la columna 'Cantidad'
# Esto crea una Serie de pandas.
columna_cantidad = df_ventas["Cantidad"]

# 2. Usar el mÃ©todo .info() directamente en la columna
# Este mÃ©todo imprime el resumen de la Serie, incluyendo si hay valores nulos.
# Nota: No se asigna a una variable porque el mÃ©todo no retorna nada.
print("InformaciÃ³n de la columna 'Cantidad':")
columna_cantidad.info()

InformaciÃ³n de la columna 'Cantidad':
<class 'pandas.core.series.Series'>
RangeIndex: 7 entries, 0 to 6
Series name: Cantidad
Non-Null Count  Dtype
--------------  -----
7 non-null      int64
dtypes: int64(1)
memory usage: 188.0 bytes