## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [5]:
a=38
print(a)

38

2) Imprimir el tipo de dato de la constante 8.5

In [1]:
print(8.5)

8.5

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [7]:
print(a)

38

4) Crear una variable que contenga tu nombre

In [10]:
mi_nombre ="Alejandro  Moronta"

5) Crear una variable que contenga un número complejo

In [9]:
b = 1 + 10J

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
print(type(b))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
import math #importar datos matematicos 
c = round(math.pi , 4)#redondea el valor de pi a la cantidad de decimales que asignes

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
d=True
e="True" #no son lo mismo, una es un dato booleano y el otro es un texto

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [24]:
print(type(d))
print(type(e))

<class 'bool'>
<class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
f=3.5+200-1.3

11) Realizar una operación de suma de números complejos

In [13]:
4j+2j+7j

13j

12) Realizar una operación de suma de un número real y otro complejo

In [15]:
i=1475
j=-20j

13) Realizar una operación de multiplicación

In [17]:
2*5*4

40

14) Mostrar el resultado de elevar 2 a la octava potencia

In [6]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
k=27/4
print(k)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(27//4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(27%4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [21]:
(6*4)+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
l=" Marelibeth"
m= " de Moronta "
l+m

' Marelibeth de Moronta '

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [ ]:
2=="2" # es falso porque 2 es un numero entero
# mientras que "2" es un literal

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
2==int("2")

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
float("3.8") #la función float transforma datos literales unicamente valores entero

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [30]:
n=3
n -=1

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [ ]:
1 <<2 # Este resultado se obtiene por la exprecion n*2^k donde n << k
#Los números binarios son los elementos fundamentales del sistema de numeración binario, que es un 
# sistema posicional de base 2. Esto significa que, a diferencia de nuestro sistema decimal (base 10)
#  que utiliza diez dígitos (del 0 al 9), el sistema binario utiliza solamente dos dígitos: el 0 y el 1

#es una operación de desplazamiento de bits a la izquierda (left bit shift) 
# en programación, y es muy común en Python 
#representación binacia de 1  es 0000 0001 (8bits para un byte)
#el desplamiento 2 es 0000 0100 si cada dezplamiento equivale a 2 entonces 
#0000 0100 equivale a 4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [ ]:
2+"2" #no esta permitido porque 2 es un entero y "2" es  literal entero

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [32]:
2+int("2") #transforma el literal en un entero y lo suma
str(2)+str("2") # transforma el literal y lo une como una cadena de digitos

'22'