In [ ]:
#Clase 1 
# import pandas as pd

In [3]:
import pandas as pd #importacion del paque panda
lista_auto=pd.read_csv("Ej 1 autos.csv") #lectura del archivo panda
lista_auto.head() #muestra solamente cinco elementos es un visualizador de datos

      marca   modelo   año
0   mercuri    c-100  2015
1  chevolet  camargo  2008
2      forg    gt-40  2020
3   Ferrari       f1  1980

In [4]:
#visualizar datos con dtypes
lista_auto.dtypes

marca     object
modelo    object
año        int64
dtype: object